repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        files: \.py$
        args: []

      - id: ruff
        name: ruff check
        entry: uv run ruff check
        language: system
        types: [python]
        files: \.py$
        args: [--fix, --unsafe-fixes]
